body{
    background-image: url("images/title-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

form{
    background-color:#DBE6FD;
    width: 500px;
    height: 300px;
    padding: 100px;
    margin: 250px auto auto auto;
    text-align: center;
}

button{
    margin-top: 20px;
}

.title{
    margin: auto;
    text-align: center;
}